@tailwind base;
@tailwind components;
@tailwind utilities;
 
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.App{
    text-align: start !important;
}
.text-primary{
       height: 60px !important;
       width:60px !important ;
}

:where(.css-dev-only-do-not-override-1qhpsh8).ant-modal-root .ant-modal-mask{
    background-color: black;
    background-color: rgba(0, 0, 0, 0.08);
    /* opacity: 0; */
}
:where(.css-dev-only-do-not-override-1qhpsh8).ant-modal .ant-modal-content{
    padding : 0 ;
}



/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}



















