@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  user-select: none;
}
.upload-btn {
  background-color: #fff !important ;
}
div:where(.swal2-container) button:where(.swal2-styled):not([disabled]) {
  width: 200px;
  background-color: #4a5759;
}
.loader {
  background-color: rgba(0, 0, 0, 0.1);

}
.loader-child{
    background-color:rgba(153, 150, 150, 0.3);

}
.my-shadow{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}